@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: auto;
    /* justify-content: center; */
    align-items: center;
    background-color: hsl(30, 54%, 90%);
    padding: 90px;
}

.container{
    width: 650px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 25px;
}

.image img{
    width: 600px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.simple{
    margin-bottom: 20px;
}

.simple strong{
    font-family: 'Young-Serif', serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(24, 5%, 18%);
    margin-bottom: 25px;
}

.easy{
    margin-bottom: 20px;
}

.easy span{
    color: hsl(24, 5%, 18%);
    font-family: 'output', sans-serif;
    font-size: .95rem;
    font-weight: 400;
}

.min-container{
    width: 600px;
    height: 150px;
    background-color:  hsl(330, 100%, 98%);
    border-radius: 15px;
    line-height: 27px;
    padding: 25px;
    font-family: 'output', sans-serif;
    margin-bottom: 50px; 
}

.min-container span{
    font-size: 1.15rem;
    font-weight: 700;
    color: hsl(332, 51%, 32%);
    
}

.line{
    color: hsl(30, 18%, 87%);
    margin-top: 30px;
    margin-bottom: 20px;
}

.Preparation li{
    margin-left: 28px;
    font-size: .95rem;
}

.Preparation strong{
    color: hsl(30, 10%, 34%);
}

.ingredient{
    margin-bottom: 20px;
}

.ingredient span{
    font-family: 'Young-Serif', serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.Ingredients{
    margin-left: 25px;
    font-size: .95rem;
    line-height: 30px;
    color: hsl(24, 5%, 18%);
    font-family: 'output', sans-serif;
}


.instruction{
    margin-bottom: 20px;
}

.instruction span{
    font-family: 'Young-Serif', serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.instructions{
    margin-left: 25px;
    font-size: .95rem;
    line-height: 30px;
    color: hsl(24, 5%, 18%);
    font-family: 'output', sans-serif;
}

.instructions span{
    color: hsl(30, 10%, 34%);
    font-size: 1rem;
    font-weight: 700;
    
}

.nutrition{
    margin-bottom: 20px; 
}

.nutrition span{
    font-family: 'Young-Serif', serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

.container p{
    margin-bottom: 20px;
    font-size: .95rem;
}


table{
    width: 620px;
    border-collapse: collapse;

}
tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
    border-width: 75%;
}

td{
    padding: 15px 35px;

}

#bold-data{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .container {
        max-width:375px;
        box-sizing: content-box;
    }

    body{
        padding:0;
        margin:0;
    }

    .image img{
        width: 370px;
    }

    table{
        width: 370px;
    }

    .min-container{
        width: 370px;
    }


}

